:root {
    --primary-color: #0e6f99;
    --secondary-color: #eedd82;
    --accent-color: #a40000;
    --body-color: #312621;
    --section-color: #231c18;
}

body {
    font-family: 'Harry P', sans-serif; /* Utiliza una fuente que se asemeje a la de Harry Potter si está disponible */
    margin: 0;
    padding: 0;
    background-color: var(--body-color); /* Un tono más oscuro para el fondo */
    color: #fff; /* Texto en blanco para mejor contraste */
}

main section {
    margin: 20px;
    padding: 20px;
    background-color: #1c1613; /* Fondo oscuro para las secciones */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Sombra blanca */
}

header {
    background-color: var(--body-color);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    padding: 15px 0;
}

h1, h2 {
    color: var(--secondary-color);
}

button {
    padding: 10px;
    background-color: var(--accent-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#splash {
    text-align: center;
}

#dashboard .match {
    text-align: center;
    border: 1px solid #eedd82; /* Borde amarillo quaffle */
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
    margin-right: 10px;
    transition: box-shadow 0.3s ease;
    background-color: #1c1613; /* Fondo oscuro para destacar */
}

#dashboard .match:hover {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.2); /* Sutil sombra blanca al hacer hover */
}

.matches-container {
    display: flex;
    flex-wrap: wrap;
}

.match-details {
    text-align: center;
}

.match-details form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 4px;
    margin-right: 10px;
}


.cup-details {
    text-align: center;
}

.cup-details form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #1c1613; /* Fondo oscuro para la barra de navegación */
    border-bottom: 2px solid var(--accent-color);
}

.logo img {
    width: 80px;
    height: 40px;
    filter: brightness(0) invert(1); /* Invierte los colores de la imagen del logo para que se vea más oscuro en fondos claros */
}

.logo span {
    color: var(--secondary-color); /* Enlaces en color amarillo quaffle */
    font-size: 18px;
    margin-left: 10px;
}

.menu {
    display: flex;
}

.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    color: var(--secondary-color); /* Enlaces en color amarillo quaffle */
    text-decoration: none;
    font-size: 16px;
}

.login {
    display: flex;
    align-items: center;
}

.login input[type=text], .login input[type=password] {
    width: 150px;
    padding: 5px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--body-color); /* Fondo oscuro para los inputs */
    color: #fff; /* Texto en blanco para mejor contraste */
    transition: border-color 0.3s ease; /* Añade una transición suave para el cambio de color del borde */
}

.login input[type=text]:focus, .login input[type=password]:focus {
    border-color: var(--accent-color); /* Cambia el color del borde al enfocar el input */
}

.login a {
    color: var(--accent-color);
    text-decoration: none;
    margin-left: 10px;
    z-index: 1000;
}

.user-register{
    display: flex;
    flex-wrap: wrap;
}

.profile input[type=email], .profile input[type=password], .profile input[type=text], .profile input[type=number] {
    width: 150px;
    padding: 5px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #484645; /* Fondo oscuro para los inputs */
    color: #fff; /* Texto en blanco para mejor contraste */
    transition: border-color 0.3s ease; /* Añade una transición suave para el cambio de color del borde */
}

.profile input[type=file] {
    width: 300px;
    padding: 5px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #484645; /* Fondo oscuro para los inputs */
    color: #fff; /* Texto en blanco para mejor contraste */
    transition: border-color 0.3s ease; /* Añade una transición suave para el cambio de color del borde */
}

#profile-image {
    min-width: 400px;
    width: 40vw;
}

.profile a {
    color: var(--accent-color);
    text-decoration: none;
    margin-left: 10px;
    z-index: 1000;
}

#match-detail {
    background: linear-gradient(180deg, var(--accent-color), var(--section-color));
    display: flex;
    align-items: center;
    flex-flow: column;
}
#macro-match{
    border-bottom: white 5px solid;
    border-top: white 5px solid;
    padding: 20px;
    text-align: center;
    width: 55vw;
    font-size: 2em;
}
#match-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#match-banner img{
    border: white 5px solid;
    padding: 10px;
    aspect-ratio: 1;
    margin: -15px;
    border-radius:100%;
    width: 15vw;
}
#match-points{
    width: 50vw;
    display: flex;
    justify-content: space-around;
}
#match-points span{
    display: flex;
    background-color: white;
    font-size: 3em;
    color: black;
    padding: 0.5em;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
    border-radius: 25%;
    width: 10vw;
}

.user-profile #user-info {
    text-align: center;
    border: 1px solid #eedd82; /* Borde amarillo quaffle */
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
    margin-right: 10px;
    transition: box-shadow 0.3s ease;
    background-color: #1c1613; /* Fondo oscuro para destacar */
}

.user-profile #user-info:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2); /* Sutil sombra blanca al hacer hover */
}