<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
    <title>Liga Inglesa</title>
    <link href="img/logo.png" rel="shortcut icon" type="image/x-icon">
</head>

<body>
<header>
    <nav class="nav-bar">
        <section class="logo">
            <img alt="logo" src="img/logo.png">
            <span>CAQ</span>
        </section>
        <section class="menu">
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="matches.html">Partidos</a></li>
                <li><a href="results.html">Resultados</a></li>
                <li><a href="events.html">Eventos</a></li>
                <li><a href="teams.html">Equipos</a></li>
            </ul>
        </section>
        <section class="login">
            <label for="email">Email</label><input id="email" name="email" placeholder="Correo" type="text">
            <label for="pwd">Password</label><input id="pwd" name="pwd" placeholder="Contraseña" type="password">
            <a href="index_user.html">
                <button type="submit" class="magic-button">ENTRAR</button>
            </a>
            <a href="#">¿Contraseña Olvidada?</a>
        </section>
    </nav>
</header>
<main>
    <!-- Liga Inglesa-->
    <section id="dashboard">
        <h2>Liga Inglesa</h2>
        <div class="scheme">
            <h2>Portada</h2>
            <figure><img alt="Cartel de la liga" src="img/english-league.jpeg">
                <figcaption>Imagen generada por Copilot</figcaption>
            </figure>
        </div>

        <!-- Tabla de posiciones -->
        <div class="scheme">
            <h2>Tabla de Posiciones</h2>
            <p>Tabla de posiciones de la liga Inglesa...</p>
        </div>

        <!-- Etapas -->
        <div class="scheme">
            <h2>Etapas de la liga Inglesa</h2>
            <figure>
                <img alt="Etapas de la liga" src="img/etapas.jpeg">
                <figcaption>Imagen generada por Copilot</figcaption>
            </figure>
        </div>
    </section>
</main>
</body>
</html>