<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
    <title>Detalles de Partido</title>
    <link href="img/logo.png" rel="shortcut icon" type="image/x-icon">
</head>
<body>
<header>
    <nav class="nav-bar">
        <section class="logo">
            <img alt="logo" src="img/logo.png">
            <span>CAQ</span>
        </section>
        <section class="menu">
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="matches.html">Partidos</a></li>
                <li><a href="results.html">Resultados</a></li>
                <li><a href="events.html">Eventos</a></li>
                <li><a href="teams.html">Equipos</a></li>
            </ul>
        </section>
        <section class="login">
            <label for="email">Email</label><input id="email" name="email" placeholder="Correo" type="text">
            <label for="pwd">Password</label><input id="pwd" name="pwd" placeholder="Contraseña" type="password">
            <a href="index_user.html">
                <button type="submit" class="magic-button">ENTRAR</button>
            </a>
            <a href="#">¿Contraseña Olvidada?</a>
        </section>
    </nav>
</header>
<main>
    <section id="dashboard">
        <h2>Detalles del Partido</h2>
        <div class="scheme">
            <section id="match-detail">
                <div id="match-banner">
                    <img src="img/logo.png">
                    <div id="macro-match">
                        <span>GRYFFINDOR</span> <span>vs</span> <span>SLYTHERIN</span>
                    </div>
                    <img src="img/logo.png">
                </div>
                <div id="match-points">
                    <span>160</span>
                    <span>0</span>
                </div>
                <div id="match-minutes">
                    <h3>Minuto a minuto</h3>
                    <ol>
                        <li>
                            Se inicia el partido
                        </li>
                        <li>
                            10 puntos para GRYFFINDOR
                        </li>
                        <li>
                            Harry Potter se cae de su escoba
                        </li>
                        <li>
                            Harry Potter atrapo la snitch 150 puntos para GRYFFINDOR
                        </li>
                    </ol>
                </div>
            </section>
        </div>
    </section>
</main>
</body>
</html>