:root {
    --primary-color: #0e6f99;
    --secondary-color: #eedd82;
    --accent-color: #a40000;
    --body-color: #312621;
    --section-color: #231c18;
}

/*Esquema*/
body {
    font-family: 'Harry P', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--body-color);
    color: #fff;
}

main section {
    margin: 20px;
    padding: 20px;
    background-color: #1c1613;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

header {
    background-color: var(--body-color);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    padding: 15px 0;
}

h1, h2 {
    color: var(--secondary-color);
}

button {
    padding: 10px;
    background-color: var(--accent-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

/*Secciones*/
#dashboard .scheme {
    text-align: center;
    border: 1px solid #eedd82;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
    margin-right: 10px;
    transition: box-shadow 0.3s ease;
    background-color: #1c1613;
}

#dashboard .scheme:hover {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.2);
}

#dashboard .scheme .prediction_buttons{
    justify-content: center;
    display: flex;
}

/*Barra de navegación*/
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #1c1613;
    border-bottom: 2px solid var(--accent-color);
}

.logo img {
    width: 80px;
    height: 40px;
    filter: brightness(0) invert(1);
}

.logo span {
    color: var(--secondary-color);
    font-size: 18px;
    margin-left: 10px;
}

.menu {
    display: flex;
}

.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 16px;
}

/*Login en barra de navegación*/
.login {
    display: flex;
    align-items: center;
}

.login input[type=text], .login input[type=password] {
    width: 150px;
    padding: 5px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--body-color);
    color: #fff;
    transition: border-color 0.3s ease;
}

.login input[type=text]:focus, .login input[type=password]:focus {
    border-color: var(--accent-color);
}

.login a {
    color: var(--accent-color);
    text-decoration: none;
    margin-left: 10px;
    z-index: 1000;
}

/*Detalles de partido minuto a minuto*/
#match-detail {
    background: linear-gradient(180deg, var(--accent-color), var(--section-color));
    display: flex;
    align-items: center;
    flex-flow: column;
}
#macro-match{
    border-bottom: white 5px solid;
    border-top: white 5px solid;
    padding: 20px;
    text-align: center;
    width: 55vw;
    font-size: 2em;
}
#match-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#match-banner img{
    border: white 5px solid;
    padding: 10px;
    aspect-ratio: 1;
    margin: -15px;
    border-radius:100%;
    width: 15vw;
}
#match-points{
    width: 50vw;
    display: flex;
    justify-content: space-around;
}
#match-points span{
    display: flex;
    background-color: white;
    font-size: 3em;
    color: black;
    padding: 0.5em;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
    border-radius: 25%;
    width: 10vw;
}

/*Imagen en el perfil*/
#profile-image {
    min-width: 400px;
    width: 40vw;
}

/*Animaciones en botones*/
@keyframes magicEffect {
    0% {
      transform: scale(1);
      background-color: var(--accent-color);
    }
    50% {
      transform: scale(1.2);
      background-color: var(--secondary-color);
    }
    100% {
      transform: scale(1);
      background-color: var(--accent-color);
    }
  }
  
  .magic-button {
    transition: background-color 0.3s ease;
  }
  
  .magic-button:hover {
    background-color: var(--secondary-color);
    color: var(--section-color) 
  }
  
  .magic-button:active {
    animation: magicEffect 0.5s ease;
  }
  
  